# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
*.pth
*.pt
*.onnx

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
